<nav class="site-nav">
  <ul class="nav-menu">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/introduction/">Introduction</a></li>
    <li><a href="{{ site.baseurl }}/all-about-scribes/">All About Scribes</a></li>
    <li><a href="{{ site.baseurl }}/prompts/">Prompts</a></li>
    <li><a href="{{ site.baseurl }}/quick-start/">Quick Start</a></li>
    <li><a href="{{ site.baseurl }}/about/">About</a></li>
    <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
  </ul>
</nav>