<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <header class="site-header" role="banner">
      <div class="container">
        <div class="header-wrapper">
          <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

          {%- assign default_paths = site.pages | map: "path" -%}
          {%- assign page_paths = site.header_pages | default: default_paths -%}
          {%- if page_paths -%}
            <nav class="site-nav">
              <input type="checkbox" id="nav-trigger" class="nav-trigger" />
              <label for="nav-trigger">
                <span class="menu-icon">
                  <svg viewBox="0 0 18 15" width="18px" height="15px">
                    <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
                  </svg>
                </span>
              </label>

              <div class="trigger">

                <!-- Blog -->
                <a class="page-link" href="{{ '/blog' | relative_url }}">Blog</a>

                <!-- Resources Dropdown -->
                <div class="dropdown">
                  <span class="page-link">Resources</span>
                  <div class="dropdown-content">
                    <a href="{{ '/prompt-library' | relative_url }}">Prompt Library</a>
                    <a href="{{ '/best-practices' | relative_url }}">Best Practices</a>
                  </div>
                </div>

                <!-- Documentation Tools Dropdown -->
                <div class="dropdown">
                  <span class="page-link">Documentation Tools</span>
                  <div class="dropdown-content">
                    <a href="{{ '/prompt-generator' | relative_url }}">A&P Prompt Generator</a>
                    <a href="{{ '/clinic-visit-tracker' | relative_url }}">RVU Data Tracker</a>
                    <a href="{{ '/qi-project-tracker' | relative_url }}">QI Project Tracker</a>
                    <a href="{{ '/cpt-calculator' | relative_url }}">E&M Calculator</a>
                    <a href="{{ '/snippet-manager' | relative_url }}">Snippet Manager</a>
                    <a href="{{ '/dot-phrase-library' | relative_url }}">Dot Phrase Library</a>
                  </div>
                </div>

                <!-- Doc Pixel AI Dropdown -->
                <div class="dropdown">
                  <span class="page-link">Doc Pixel AI</span>
                  <div class="dropdown-content">
                    <a href="{{ '/ppe-ai' | relative_url }}">Overview</a>
                    <a href="{{ '/courses/clinical-prompt-engineering/' | relative_url }}">Interactive Course</a>
                    <a href="{{ '/diagnosis-game' | relative_url }}">Doc Pixel's DDX Challenge</a>
                    <a href="{{ '/paper-librarian' | relative_url }}">Doc Pixel's Librarian</a>
                    <a href="{{ '/cram-for-rounds' | relative_url }}">Doc Pixel's Cram for Rounds</a>
                    <a href="{{ '/diagnosis-case-creator' | relative_url }}">Doc Pixel DDx Case Creator</a>
                  </div>
                </div>

                <!-- Contributions -->
                <a class="page-link" href="{{ '/contribute' | relative_url }}">Contribute</a>

                <!-- About -->
                <a class="page-link" href="{{ '/about' | relative_url }}">About</a>

              </div>
            </nav>
          {%- endif -%}
        </div>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

</html>
